# Ignorar carpetas de Terraform (los binarios pesados)
**/.terraform/

# Ignorar archivos de estado (tienen info sensible)
*.tfstate
*.tfstate.backup

# Ignorar archivos de bloqueo
.terraform.lock.hcl

logs/
plugins/
*.log

# Python
__pycache__/
*.py[cod]
.venv
venv/

.env
.env.local


# Docker volumes 
postgres_data/
app_data/

# IDE settings
.vscode/
.idea/